/* #region Common */

:root {
  --db-light: #f8f9fa;
  --db-neutral: #e5e5e5;
  --db-neutral-semitransparent: #e5e5e566;
  --db-notifications: #ff8f00;
  --db-dark: #051e34;
  --db-primary: #1b72e8;
}

/* #endregion Common */

/* #region Utilities */

.search_bg {
  background-color: var(--db-neutral);
}

.notifications_color {
  color: var(--db-notifications);
}

/* #endregion Utilities */

/* #region Debug */

.debug * {
  outline: 1px solid red;
}

/* #endregion Debug */

/* #region Header */

#app_header {
  height: 70px;
}

#app_header .dropdown .dropdown-toggle::after {
  content: none;
}

/* #endregion Header */

/* #region Content Wrapper */

#content_wrapper {
  height: calc(100vh - 70px);
  /* USE SVH TO MAKE 100VH TAKE CARE OF UI TOOLBARS - IF NOT SUPPORTED, CLASSIC 100VH WILL BE USED */
  height: calc(100svh - 70px);
}

aside {
  width: 70px;
  background: var(--db-dark) url('./../img/sidebar-bg.png');
  background-size: cover;
}

aside li,
#aside_bottom > div {
  transition: all 0.2s;
}

aside li:hover,
#aside_bottom > div:hover {
  background-color: var(--db-neutral-semitransparent);
  border-radius: 5px;
  cursor: pointer;
}

#toolbar {
  background-color: var(--db-primary);
}

#toolbar .ms_square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1 / 1;
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 5px;
}

#toolbar .new_student_offcanvas {
  width: 700px;
}

#main_content {
  background-color: var(--db-light);
}

/* #endregion Content Wrapper */

/* #region Responsive */

@media screen and (max-width: 1199px) {

  #toolbar .new_student_offcanvas {
    width: 100vw;
  }

}

@media screen and (min-width: 1200px) {

  aside {
    width: unset;
    max-width: 200px;
  }

  #next_classes thead th:first-child {
    width: 50%;
  }

}

/* #endregion Responsive */
