/* #region Common */

:root {
  --db-light: #f8f9fa;
  --db-neutral: #e5e5e5;
  --db-neutral-semitransparent: #e5e5e566;
  --db-notifications: #ff8f00;
  --db-dark: #051e34;
  --db-primary: #1b72e8;
}

/* #endregion Common */

/* #region Utilities */

#back_to_top {
  position: fixed;
  bottom: 17px;
  right: 17px;
  z-index: 2;
  width: 38px;
  line-height: 38px;
  text-align: center;
  border-radius: 50%;
  color: var(--bs-body-color);
  background-color: var(--db-primary);
  transition: background-color 0.2s, transform 0.2s;
}

#back_to_top:hover {
  background-color: #5099ff;
}

#back_to_top:active {
  transform: scale(0.8);
}

.search_bg {
  background-color: var(--db-neutral);
}

.notifications_color {
  color: var(--db-notifications);
}

/* #endregion Utilities */

/* #region Debug */

.debug * {
  outline: 1px solid red;
}

/* #endregion Debug */

/* #region Header */

#app_header {
  position: relative;
  z-index: 1;
  height: 70px;
  background-color: var(--db-light);
  box-shadow: 0 0 5px 0 var(--db-dark);
}

#app_header i:not(.dropdown i) {
  transition: color 0.2s;
}

#app_header i:not(.dropdown i):hover {
  cursor: pointer;
  color: var(--db-primary);
}

#app_header .dropdown .dropdown-toggle::after {
  content: none;
}

/* #endregion Header */

/* #region Content Wrapper */

#content_wrapper {
  height: calc(100vh - 70px);
  /* USE SVH TO MAKE 100VH TAKE CARE OF UI TOOLBARS - IF NOT SUPPORTED, CLASSIC 100VH WILL BE USED */
  height: calc(100svh - 70px);
}

aside {
  width: 4.375rem;
  background: var(--db-dark) url('./../img/sidebar-bg.png');
  background-size: cover;
}

aside li,
#aside_bottom > div {
  transition: all 0.2s;
}

aside li:hover,
#aside_bottom > div:hover {
  background-color: var(--db-neutral-semitransparent);
  border-radius: 5px;
  cursor: pointer;
}

aside li i {
  animation: mirror_out 0.4s linear;
}

aside li:hover i {
  animation: mirror 2s linear infinite;
}

#aside_bottom > div i {
  animation: spin_out 0.4s linear;
}

#aside_bottom > div:hover i {
  animation: spin 2s linear infinite;
}

#app_main {
  scroll-behavior: smooth;
}

#toolbar {
  background-color: var(--db-primary);
}

#toolbar .ms_square {
  display: flex;
  justify-content: center;
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  font-size: 1.5rem;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s, transform 1.3s;
}

#toolbar .ms_square:hover {
  background-color: white;
  color: var(--db-primary);
  transform: rotate(360deg);
}

#offcanvas_new_student {
  width: 100vw;
}

#main_content {
  background-color: var(--db-light);
}

/* #endregion Content Wrapper */

/* #region Animations */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin_out {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes mirror {
  0% {
    transform: rotateY(0deg);
  }
  90% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes mirror_out {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* #endregion Animations */

/* #region Responsive */

@media screen and (min-width: 1200px) {

  aside {
    width: unset;
    max-width: 200px;
  }

  #offcanvas_new_student,
  #next_classes thead th:first-child {
    width: 50%;
  }

}

/* #endregion Responsive */

/* #region Scrollbar */

  /* CHROME AND SAFARI(MACOS) SUPPORT */
  #app_main::-webkit-scrollbar {
    width: 8px;
  }

  #app_main::-webkit-scrollbar-thumb {
    background-color: var(--db-primary);
    border: 1px solid #5099ff;
    border-radius: 4px;
  }

  #app_main::-webkit-scrollbar-thumb:hover {
    background-color: #5099ff;
  }

  #app_main::-webkit-scrollbar-track {
    background-color: var(--db-neutral);
    border-radius: 4px;
  }

  /* FIREFOX SUPPORT */
  #app_main {
    scrollbar-color: var(--db-primary) var(--db-neutral);
  }

/* #endregion Scrollbar */
